templates/Milestone1.0/Schemas/xlink.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
  xmlns:tns="http://www.w3.org/1999/xlink" 
  attributeFormDefault="unqualified" 
  elementFormDefault="qualified" 
  targetNamespace="http://www.w3.org/1999/xlink" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="title" type="xs:string" />
  <xs:attribute name="href" type="xs:string" />
  <xs:attribute name="role" type="xs:string" />
  <xs:attribute name="arcrole" type="xs:string" />
</xs:schema>